.list-container {
    /* align items in the center, but a little to the left */
    align-items: left !important;
    margin-top: 20px;
    background-color: var(--main);
    padding: 10px;
    height: max-content;
    border-radius: 5px;
}
.anime-container {
    display:flex;
    background-color: var(--main-selected);
    padding: 10px;
    height: max-content;
    border-radius: 5px;
}
.anime-info-container {
    margin-left: 10px;
}
.anime-info-name, .badge {
    font-size: 20px;
    font-weight: bold;
    background: var(--main-badge);
    padding: 5px;
    text-align: center;
    padding-top: 0px;
    border-radius: 5px;
}